<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.url">jdbc:mysql://localhost:4399/medical_store_management_system</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!--        Disable Red SQL LInes-->
        <property name="hibernate.connection.password.show_sql">false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">hello123</property>

        <mapping class="com.medical_store_management_system.Business_Logic.Medicines"/>
        <mapping class="com.medical_store_management_system.Business_Logic.StoreAdmin"/>
        <mapping class="com.medical_store_management_system.Business_Logic.StorePharmacist"/>
        <mapping class="com.medical_store_management_system.Business_Logic.StoreSalesman"/>
        <mapping class="com.medical_store_management_system.Business_Logic.Bills"/>

        <mapping class="com.medical_store_management_system.Business_Logic.PurchasedMedicines"/>
        <mapping class="com.medical_store_management_system.Business_Logic.Bills"/>
        <mapping class="com.medical_store_management_system.Business_Logic.Bills"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->


    </session-factory>
</hibernate-configuration>